language: node_js
install: true
script: true
after_success:
- scp -i "se234.pem" -r html/* ubuntu@54.255.174.42:/var/www/html/
env:
  global:
    secure: S1nPCNglGmw8kljBX1b8wLcqh0oBQVLp0VQXn/wIvgxoDYHO5NukLFXeS1yOESwcgvZoBVa3VHMLaUPUXXHOWDd3/86mgSkIUYIvmV2a3GnNTKO0OnN3ywagSLGBZtvTN4OrM0hlRW5iyxy1DoqFI1BDDKO7MhrDnWZBtuwD8DPKFHCwO5ZltJ+yWGbeWlLnJEI43E2zwHC988fGen+EIMhpik3xmlpiHpx9dJHlkZhgWZa6jb+HCVFXdDVZejQkHp+i3KIFh3YCHAvpcsCVs+6LbxDtPzMQYdUcYkWw0puBzJlXJM5hdZSWzi7zL5AK9CXAutukqQuNoZL1YGQwkGZxVMO8UoHGopX/aLkwGHl26WCt4XzoTwD67WO9m6OKvjJGiEDOh2xlC7JIwrLlbIHDU18hDeTerQpjq4N/D3r7WrEArQ98rHh+HjbT8DKDWiWvM5oyCBUwku2AKqRGeZzKWiIy0R1PSOrx+PUAaUYTGHePUE219rVQt3x+4tFu4+cUx/Np/84MyNO1h+BTzC2rOMFgIZ3oh9UOOpIGOwexwl8CFSnvq2qqBxtzGXfo/ZJbJ2ineTjHduPUIFchE77JXmR9famjUDMBHeEQVqEDoxhLJzZ+xKJI7a/lDVeifL1agtCiHEmpKIyLhyC/U66Fv7yCOA00lo3zlIST+eg=
before_install:
  - openssl aes-256-cbc -k "$super_secret_password" -in se2345.pem.enc -out se2345.pem -d